In [28]:
import pandas as pd
import numpy as np
from numpy import dot
from numpy.linalg import norm 

df = pd.read_csv(r'd:\naomy\LIA-FastAPI-MySQL\data\data.csv')
df.head()

,id,title,author,description,genre,classification,pages,owner_id
0,1,Matadouro cinco,Kurt Vonnegut,Um livro que zomba da estupidez humana com um ...,Science Fiction,5,288,1
1,2,Cama de gato,Kurt Vonnegut,Mais um livro incrível que zomba da condição h...,Science Fiction,5,280,1
2,3,Cem anos de solidão,Gabriel Garcia Marquez,Um realismo fantástico lindo e cativante,Fiction Novel,5,448,1
3,4,Cem anos de solidão,Gabriel Garcia Marquez,NaN,Fiction Novel,5,448,2
4,5,Sobre os ossos dos mortos,Olga Tockarzuck,Uma história sobre nossa relação com a naturez...,Fiction Novel,5,256,1

In [29]:
df['title'].value_counts()

Crepúsculo                           3
Recursão                             3
O guia do mochileiro das galáxias    3
Billy Summers                        2
Harry Potter e a pedra filosofal     2
                                    ..
Não fale com estranhos               1
A grande ilusão                      1
Matéria escura                       1
O tempo desconjuntado                1
Memórias do subsolo                  1
Name: title, Length: 286, dtype: int64

In [30]:
df_init = df.copy()
df_init.head()

,id,title,author,description,genre,classification,pages,owner_id
0,1,Matadouro cinco,Kurt Vonnegut,Um livro que zomba da estupidez humana com um ...,Science Fiction,5,288,1
1,2,Cama de gato,Kurt Vonnegut,Mais um livro incrível que zomba da condição h...,Science Fiction,5,280,1
2,3,Cem anos de solidão,Gabriel Garcia Marquez,Um realismo fantástico lindo e cativante,Fiction Novel,5,448,1
3,4,Cem anos de solidão,Gabriel Garcia Marquez,NaN,Fiction Novel,5,448,2
4,5,Sobre os ossos dos mortos,Olga Tockarzuck,Uma história sobre nossa relação com a naturez...,Fiction Novel,5,256,1

In [31]:
df['title'].unique()

array(['Matadouro cinco', 'Cama de gato', 'Cem anos de solidão',
       'Sobre os ossos dos mortos', 'Ensaio sobre a cegueira', 'Duna',
       'A revolução dos bixos', '1984',
       'O guia do mochileiro das galáxias',
       'O restaurante no fim do universo',
       'A vida, o universo e tudo o mais',
       'Até mais, e obrigado pelos peixes', 'Praticamente inofensiva',
       'Agência de investigações holísticas Dirk Gently',
       'A longa e sombria hora do chá da alma', 'O hobbit',
       'O senhor dos anéis: a sociedade do anel',
       'O senhor dos anéis: as duas torres',
       'O senhor dos anéis: o retorno do rei', 'Eu sou a lenda',
       'O fim da infância', 'Encontro com Rama', 'Ubik',
       'Os próprios deuses', 'O fim da eternidade', 'Americanah',
       'Hibisco roxo', 'As sereias de Titã', 'Os despossuídos',
       'Caixa de pássaros', 'Uma casa no fundo do lago', 'Inspeção',
       'Malorie', 'Piano vermelho', 'Aniquilação', 'Autoridade',
       'O conto da aia', 'Memórias póstumas de Brás Cubas', 'O alienista',
       'Dom casmurro', 'Garota exemplar', 'Objetos cortantes', 'O adulto',
       'Boneco de neve', 'O auto da compadecida', 'O cortiço',
       'O pequeno príncipe', 'Iracema', 'Vidas secas',
       'Capitães de areia', 'Mitologia nórdica',
       'O oceano no fim do caminho', 'Magnus Chase: a espada do verão',
       'Magnus Chase: o martelo de Thor',
       'Magnus Chase: o navio dos mortos',
       'História da sua vida e outros contos',
       'O problema dos três corpos', 'Romeu e Julieta',
       'O retrato de Dorian Gray', 'O morro dos ventos uivantes',
       'Drácula', 'As viagens de Gulliver',
       'Harry Potter e a pedra filosofal',
       'Harry Potter e a câmara secreta',
       'Harry Potter e o prisioneiro de Azkaban',
       'Harry Potter e o cálice de fogo',
       'Harry Potter e a ordem da fênix',
       'Harry Potter e o enigma do príncipe',
       'Harry Potter e as relíquias da morte', 'As crônicas de Nárnia',
       'A mão esquerda da escuridão', 'Blade runner',
       'Estamos todos completamente transtornados',
       'Crônicas de uma morte anunciada', 'Maze runner: correr ou morrer',
       'O mal nosso de cada dia', 'Tudo é rio', 'O apanhador de sonhos',
       'Cujo', 'A metade sombria', 'O cemitério', 'A hora do lobisomen',
       'Sob a redoma', 'Mr. Mercedes', 'Billy Summers',
       'A balada do black Tom', 'Eu estou pensando em acabar com tudo',
       'Tempo estranho', 'As ruínas', 'O chamado do cuco',
       'E não sobrou nenhum', 'Nosferatu', 'Mestre das chamas',
       'O menino que desenhava monstros', 'Crepúsculo',
       'A menina que roubava livros', 'Deus um delírio',
       'O maior espetáculo da Terra', 'Canção de ninar', 'Desespero',
       'Em busca de watership down', 'Capitães da areia',
       'Trilogia da Fundação', 'A autoestrada', 'Os justiceiros', 'Blaze',
       'Os livros de Bachman', 'A maldição do cigano', 'O concorrente',
       'Meu amigo Dahmer', 'Os pássaros', 'Candyman', 'O exorcista',
       'Colega de quarto', 'O planeta dos macacos',
       'Algo sinistro vem por aí', 'Fahrenheit 451',
       'As crônicas marcianas', 'A parábola do semeador',
       'A parábola dos talentos', 'Kindred: laços de sangue',
       'Filhos de sangue e outras histórias',
       'Assassinato no campo de golfe', 'N ou M?', 'Poirot investiga',
       'O adversário secreto', 'O misterioso caso de Styles',
       '2001: uma odisseia no espaço', 'Jogador número um',
       'Jogador número dois', 'Não conte a ninguém',
       'Não fale com estranhos', 'A grande ilusão', 'Matéria escura',
       'Recursão', 'O tempo desconjuntado',
       'Androides sonham com ovelhas elétricas?',
       'O homem do castelo alto', 'Sonhos elétricos', 'Um conto de Natal',
       'Lugar nenhum', 'Os filhos de Anansi', 'Gravidade',
       'O jardim de ossos', 'O cirurgião', 'Messias de Duna',
       'A estrada da noite', 'Bem vindo a Lovecraft', 'Amaldiçoado',
       'A tribo', 'Cesto de cabeças', 'Admirável mundo novo',
       'Torto arado', 'Flores para Algernon', 'A incendiária',
       'À espera de um milagre', 'O pistoleiro (A Torre Negra)',
       'Os estranhos', 'A coisa', 'A hora do lobisomem',
       'Mago e vidro (A Torre Negra)', 'O iluminado', 'Cão raivoso',
       'Christine', 'A canção de Susannah', 'Carrie, a estranha',
       'Insônia', 'A casa negra', 'A dança da morte', 'Trocas macabras',
       'Quatro estações', 'Tudo é eventual', 'Sombras da noite',
       'Zona morta', 'Celular', 'Duma key', 'Salem', 'Angústia',
       'Saco de ossos', 'Jogo perigoso', 'Novembro de 63', 'Joyland',
       'O bazar dos sonhos ruins', 'Outsider', 'O instituto', 'Depois',
       'A curva do sonho', 'O sol é para todos',
       'Um dring antes da guerra', 'Ilha do medo', 'O impulso',
       'Expiração', 'Guerra do Velho', 'Eu, robô', 'O planet dos macacos',
       'A culpa é das estrelas', 'Five feet apart', 'Guerra sem fim',
       'Avengers: Disassembled', 'As cavernas de aço', 'O duque e eu',
       'Viagem ao centro da Terra', 'Misery', 'A marca de uma lágrima',
       'Jogador número 1', 'A canção de Aquiles', 'Vilão',
       'O Sol também é uma estrela', 'O quarto de Giovani',
       'Vermelho, branco e sague azul', 'A cabeça do santo',
       'No seu pescoço', 'Sejamos todos feministas',
       'O perigo de uma história única', 'Notas sobre o luto',
       'Estado de exceção', 'Senhora', 'Diva', 'O guarani', 'Lucíola',
       'O sertanejo', 'A guerra não tem rosto de mulher', 'A tortura',
       'A visão das plantas', 'Terras do sem-fim', 'Tocaia grande',
       'Cacau', 'Suor', 'Mar morto',
       "A Morte e a morte de Quincas Berro D'Água",
       'São Jorge dos ilhéus', 'Eu sei por que o pássaro canta na gaiola',
       'Letter to my daughter',
       'Eu receberia as piores notícias dos seus lindos lábios',
       'Baixo esplendor', 'Pátria', 'A vida do espírito',
       'Eichmann em Jerusalém: Um Relato Sobre a Banalidade do Mal',
       'Liberdade para ser livre', 'A revolução cubana', 'Casa de pensão',
       'Gente ansiosa', 'O coronel Chabert', 'A elegância do ouriço',
       'O sentido de um fim', 'O jardim dos Finzi-Contini',
       'Tempos líquidos', 'Confiança e medo na cidade', 'Cegueira moral',
       'Estado de crise', 'Memórias de uma moça bem-comportada',
       'Uma morte muito suave', 'A mulher desiludida',
       'Mal-entendido em Moscou', 'As inseparáveis',
       'Dos delitos e das penas', 'Pequena coreografia do adeus',
       'A trégua', 'Primavera num espelho partido', 'A borra do café',
       'Correio do tempo', 'O futuro da democracia', 'A era dos direitos',
       'Estado, Governo, Sociedade', 'Jane Eyre',
       'O mestre e a margarida', 'O Exílio e o Reino', 'A queda',
       'O estrangeiro', 'Não fossem as sílabas do sábado',
       'O carnaval da guerra e da gripe', 'Grandes esperanças',
       'Uma canção de Natal', 'David Copperfield', 'O abismo',
       'Um cântico de Natal e outras histórias', 'Gente pobre',
       'A senhoria', 'A Aldeia de Stepántchikovo e seus habitantes',
       'Bobók', 'Os irmãos Karamázov', 'Crime e castigo',
       'Noites brancas', 'Uma história desagradável', 'Um pequeno herói',
       'Memórias do subsolo'], dtype=object)

In [32]:
df.rename(columns={'id':'book_id'},inplace=True)
df.head()

,book_id,title,author,description,genre,classification,pages,owner_id
0,1,Matadouro cinco,Kurt Vonnegut,Um livro que zomba da estupidez humana com um ...,Science Fiction,5,288,1
1,2,Cama de gato,Kurt Vonnegut,Mais um livro incrível que zomba da condição h...,Science Fiction,5,280,1
2,3,Cem anos de solidão,Gabriel Garcia Marquez,Um realismo fantástico lindo e cativante,Fiction Novel,5,448,1
3,4,Cem anos de solidão,Gabriel Garcia Marquez,NaN,Fiction Novel,5,448,2
4,5,Sobre os ossos dos mortos,Olga Tockarzuck,Uma história sobre nossa relação com a naturez...,Fiction Novel,5,256,1

In [13]:
def normalize(data):
    '''
    Normalize input data to be between 0 and 1
    
    params:
        data: values you want to normalize
    
    returns:
        The input data normalized between 0 and 1
    '''
    min_val = min(data)
    if min_val < 0:
        data = [x + abs(min_val) for x in data]
    max_val = max(data)
    return [x/max_val for x in data]

In [14]:
df['pages_norm'] = normalize(df['pages'].values)
df['book_rating_norm'] = normalize(df['classification'].values)

In [15]:
def ohe(df, enc_col):
    '''
    This function will one hot encode the specified column and add it back
    onto the input dataframe
    
    params:
        df (DataFrame) : The dataframe you wish for the results to be appended to
        enc_col (String) : The column you want to OHE
    
    returns:
        The OHE columns added onto the input dataframe
    '''
    
    ohe_df = pd.get_dummies(df[enc_col])
    ohe_df.reset_index(drop = True, inplace = True)
    return pd.concat([df, ohe_df], axis = 1)

In [16]:
df = ohe(df = df, enc_col = 'genre')
df = ohe(df = df, enc_col = 'author')

In [17]:
cols = ['pages', 'genre', 'description', 'author', 'title', 'classification']
df.drop(columns = cols, inplace = True)
df.set_index('book_id', inplace = True)
df.head()

,owner_id,pages_norm,book_rating_norm,Dystopian,"Fantasy, Adventure",Fiction Novel,Graphic Novel,"Mystery, Suspense, Horror",Nonfiction,Science Fiction,...,Stephen King,Stephenie Meyer,Ted Chiang,Tess Gerritsen,Ursula K LeGuin,Ursula LeGuin,Victor Bonini,Victor LaValle,William Peter Blatty,William Shakespeare
book_id,,,,,,,,,,,,,,,,,,,,,
1,1,0.178549,1.0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,1,0.173590,1.0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,1,0.277743,1.0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2,0.277743,1.0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,1,0.158710,1.0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [18]:
class CBRecommend():
    def __init__(self, df):
        self.df = df
        
    def cosine_sim(self, v1,v2):
        '''
        This function will calculate the cosine similarity between two vectors
        '''
        return dot(v1,v2)/(norm(v1)*norm(v2))
    
    def recommend(self, book_id, n_rec, owner_id):
        """
        df (dataframe): The dataframe
        song_id (string): Representing the song name
        n_rec (int): amount of rec user wants
        """
        book_id = book_id - 1 #because it starts from zero, while the ids in the database start from 1
        inputVec = self.df.loc[book_id].values
        self.df['sim']= self.df.apply(lambda x: self.cosine_sim(inputVec,x.values), axis=1)
        
        df_rec = self.df.nlargest(columns='sim',n=n_rec)
        df_final = df_rec.loc[df['owner_id'] != owner_id]
        # returns top n user specified books that the user didnt listed already
        return df_final
#ver se troco o id pelo titulo

In [19]:
t = df.copy()
cbr = CBRecommend(df = t)

df_recommendations = cbr.recommend(book_id = t.index[5], n_rec = 10, owner_id = 1)
df_recommendations

,owner_id,pages_norm,book_rating_norm,Dystopian,"Fantasy, Adventure",Fiction Novel,Graphic Novel,"Mystery, Suspense, Horror",Nonfiction,Science Fiction,...,Stephenie Meyer,Ted Chiang,Tess Gerritsen,Ursula K LeGuin,Ursula LeGuin,Victor Bonini,Victor LaValle,William Peter Blatty,William Shakespeare,sim
book_id,,,,,,,,,,,,,,,,,,,,,
4,2,0.277743,1.0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.757701
107,2,0.297582,1.0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.757680
84,2,0.130192,1.0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.756537
78,2,0.099194,1.0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.755995

In [20]:
df_recommendations.index.values

array([  4, 107,  84,  78], dtype=int64)

In [21]:
df_seila= df_init.loc[df_init['id'].isin(df_recommendations.index.values), ['title']]
df_seila.drop_duplicates(inplace=True)
#gets only the titles and the ids of the books recommended
df_seila.to_dict(orient='list')

{'title': ['Cem anos de solidão',
  'Crônicas de uma morte anunciada',
  'Tudo é rio',
  'A menina que roubava livros']}